<a href="https://colab.research.google.com/github/wollieliza/titanic-prediction/blob/main/titanic_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing packages

In [47]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Reading the database

In [48]:
data = pd.read_csv("/content/titanic_data.csv")

In [49]:
data.head()

   Passengerid   Age     Fare  Sex  ...  Embarked  zero.17  zero.18  2urvived
0            1  22.0   7.2500    0  ...       2.0        0        0         0
1            2  38.0  71.2833    1  ...       0.0        0        0         1
2            3  26.0   7.9250    1  ...       2.0        0        0         1
3            4  35.0  53.1000    1  ...       2.0        0        0         1
4            5  35.0   8.0500    0  ...       2.0        0        0         0

[5 rows x 28 columns]

In [50]:
data = data.drop(["zero", "zero.1", "zero.2", "zero.3", "zero.4", "zero.5", "zero.6", "zero.7", "zero.8",
                  "zero.9", "zero.10", "zero.11", "zero.12", "zero.13", "zero.14", "zero.15", "zero.16",
                  "zero.17", "zero.18", "Embarked"], axis = 1)

In [51]:
data.head()

   Passengerid   Age     Fare  Sex  sibsp  Parch  Pclass  2urvived
0            1  22.0   7.2500    0      1      0       3         0
1            2  38.0  71.2833    1      1      0       1         1
2            3  26.0   7.9250    1      0      0       3         1
3            4  35.0  53.1000    1      1      0       1         1
4            5  35.0   8.0500    0      0      0       3         0

# Editing keys and changing variables

In [52]:
data = data.set_index(['Passengerid'])
data = data.rename(columns = {'2urvived' : 'target'}, inplace = False)

In [53]:
data.head()

              Age     Fare  Sex  sibsp  Parch  Pclass  target
Passengerid
1            22.0   7.2500    0      1      0       3       0
2            38.0  71.2833    1      1      0       1       1
3            26.0   7.9250    1      0      0       3       1
4            35.0  53.1000    1      1      0       1       1
5            35.0   8.0500    0      0      0       3       0

# Describe

In [54]:
data.describe()

               Age         Fare  ...       Pclass       target
count  1309.000000  1309.000000  ...  1309.000000  1309.000000
mean     29.503186    33.281086  ...     2.294882     0.261268
std      12.905241    51.741500  ...     0.837836     0.439494
min       0.170000     0.000000  ...     1.000000     0.000000
25%      22.000000     7.895800  ...     2.000000     0.000000
50%      28.000000    14.454200  ...     3.000000     0.000000
75%      35.000000    31.275000  ...     3.000000     1.000000
max      80.000000   512.329200  ...     3.000000     1.000000

[8 rows x 7 columns]

# Data transformation

In [55]:
data.isnull().sum()

Age       0
Fare      0
Sex       0
sibsp     0
Parch     0
Pclass    0
target    0
dtype: int64

# Sampling

In [56]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(['target'], axis = 1),
                                                    data['target'],
                                                    test_size = 0.3,
                                                    random_state = 1234)

In [57]:
[{'train' : x_train.shape}, {'test' : x_test.shape}]

#for training, it's interesting to reserve 70% of the database, and for testing the other 30%

[{'train': (916, 6)}, {'test': (393, 6)}]

# Random Forest Model

In [58]:
# Mapping the model
rndforest = RandomForestClassifier(n_estimators = 1000, criterion = 'gini', max_depth = 5)

# Calculating the model
rndforest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [59]:
probability    = rndforest.predict_proba(data.drop('target', axis = 1))[:,1]
classification = rndforest.predict(data.drop('target', axis = 1))

In [60]:
data['Probability']    = probability
data['Classification'] = classification

In [61]:
data

              Age      Fare  Sex  ...  target  Probability  Classification
Passengerid                       ...
1            22.0    7.2500    0  ...       0     0.089924               0
2            38.0   71.2833    1  ...       1     0.704905               1
3            26.0    7.9250    1  ...       1     0.325647               0
4            35.0   53.1000    1  ...       1     0.693067               1
5            35.0    8.0500    0  ...       0     0.087328               0
...           ...       ...  ...  ...     ...          ...             ...
1305         28.0    8.0500    0  ...       0     0.089017               0
1306         39.0  108.9000    1  ...       0     0.704035               1
1307         38.5    7.2500    0  ...       0     0.076718               0
1308         28.0    8.0500    0  ...       0     0.089017               0
1309         28.0   22.3583    0  ...       0     0.095716               0

[1309 rows x 9 columns]